page-sperson {
  .quick-action-item {
    height: 25vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ececec;
  }
  .divtype {
    width: 50px;
  }

}
